body {
  text-align: center;
  background-color: #011F3F;
  transition: 4000ms;
}

html {
  user-select: none;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin: 5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.row3 {
  margin: 3%;
  padding-top: 30px;
}

.play {
  margin: 3% auto;
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  border: 10px solid #051c34;
  border-radius: 2vh;
  transition: 225ms;
  width: 300px;
  height: 130px;
  background-color: #14477d;
  color: rgb(58, 114, 163);
  transition: 250ms;
}

.playHidden {
  opacity: 0;
  height: 0px;
}

p {
  user-select: none;
}

.play:hover {
  border: 10px solid #001325;
  background-color: #204d7e;
  color: #5e9eff;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
  transition: 225ms;
}

.game-over {
  background-color: rgb(91, 22, 22);
  opacity: 0.8;
  transition: 300ms;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
  /* transition: 75ms; */
}

.wrongPressed {
  box-shadow: 0 0 20px rgb(255, 53, 53);
  background-color: rgb(89, 25, 25);
  /* //transition: 75ms; */
}

.rightPressed {
  box-shadow: 0 0 20px rgb(53, 255, 70);
  background-color: rgb(0, 100, 35);
  /* //transition: 75ms; */
}

.footer {
  padding-top: 10%;
  color: azure;
  font-family: 'Press Start 2P', cursive;
}

#alwaysOn {
  display: block;
}

.hidden {
  opacity: 0.2;
  transition: 300ms;
}

.hidden:hover {
  opacity: 1;
}

a {
  color: rgb(153, 207, 255);
  text-decoration: none;
}

.play {
  margin: auto;
}

#play {
  margin: auto;
}

@media (max-width: 1100px) {

  .container {
    width: 90%;


  }
}

@media (max-width: 720px) {

  .container {
    min-width: 97%;


  }

  .btn {
    margin: 2%;
    display: inline-block;
    height: 200px;
    max-width: 200px;
    width: 40%;
    border: 10px solid black;
    border-radius: 20%;
    transition: 225ms;
  }
}

@media (max-width: 400px) {

  .container {
    min-width: 100%;


  }

  #level-title {
    font-size: .8rem;
    padding: 35px 0;
    margin: 2% auto;
  }

  .btn {
    margin: 0;
    display: inline-block;
    height: 200px;
    max-width: 200px;
    width: 40%;
    border: 0px solid black;
    border-radius: 0%;
    transition: 225ms;
  }

  .footer {
    font-size: 0.6rem;
  }
}